<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" type = "text/css"  href="../src/contact.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
    <body>

        <div class="about-section">
            <h1>Contact Us</h1>
            <p>Do you need help?</p>
            <p>Contact us via email, phone call or in our office</p>
          </div>
          
         <div class="contact-info">

             <div class="card">
                <i class="card-icon far fa-envelope"></i>
                <p>support@tucompra.com</p>
            </div>
            
            <div class="card">
                <i class="card-icon fas fa-phone"></i>
                <p>+58 424-1234567</p>
            </div>

            <div class="card">
                <i class="card-icon fas fa-map-marker-alt"></i>
                <p>Av. Fuerzas Armadas Maracaibo, Venezuela</p>
            </div>

         </div>
    </body>
</html>