<!DOCTYPE html>
<html>
    <head>
        <title>TuMercado</title>
        <link rel="stylesheet" type = "text/css" href="src/index.css">
    </head>
    <body>
        <header>
            <div class = "main">
                <div class = "logo">
                    <img src="./src/logo.png">
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Singin">Sign In</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class = "title">
                <h1>TuCompra.com</h1>
            </div>

            <div class="text">
                <p>Get whatever you need in just a click!</p>
            </div>

        </header>
    </body>
</html>