<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="../src/product.css">

<title>Create a Product</title>

</head>
<body>
	
		<section class="productForm">
			<form action="/create" method="POST">
			<h4>Create a Product</h4>

			<input class="inputs" type="text" name="name" id="name"
				placeholder="Product Name"> 
			<input class="inputs"
				type="text" name="username" id="username" placeholder=" Your Username">
			<input class="inputs" type="text" name="price" id="price"
				placeholder="Product price"> 
			<input class="inputs"
				type="text" name="description" id="description"
				placeholder="Description">

			<button class="button" id="Create" value="Create">Create</button>
			</form>
		</section>
	
</body>
</html>