<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="../src/singin.css">
<title>Login</title>

</head>
<body>
	<form id = "loginForm" action="/home" method="POST">
	<div class= "login-box">
	
	<h1> Login </h1>
		<div class = "textbox">
			<input type = "text" placeholder = "username" name = "username">
		</div>
		<div class = "textbox">
			<input type = password placeholder = "password" name = "password">
		</div>
			<button class="btn" id="Singin" value="Singin">Sign in</button>
			<p>
				<a href="/register"> Register</a>
			</p>
	
		</div>
	</form>
</body>
</html>