<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Product Profile</title>
<link rel="stylesheet" href="../src/updateproduct.css">

</head>
<body>
	
	<section class="Profile">
		
			<h4>Your Product</h4>
			
			<p>Name:</p>
			<input class="inputs" type="text" value=""  />	
			<p>Username:</p>
			<input class="inputs" type="text" value="" disabled />	
			<p>Price:</p>
			<input class="inputs" type="text" value="" name="email" id = "email"/>	
			<p>Description:</p>
			<input class="inputs" type="text" value=""  />		
			
			<a href="/delete/">Delete</a>
			<a href="/update">Update</a>
			

	</section>
</body>
</html>