body{
    background: orange;
}
@media screen and (max-width:400px) {
    .search-area {
        width: 100%;
    }
}

.products {
    width: 100%;
    font-family: Century gothic;
}

.product {
    display: inline-block;
    width: calc(24% - 13px);
    margin: 10px 10px 30px 10px;
    vertical-align: top;
}

.product-content {
    text-align: center;
}

.product h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.product h3 small {
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin: 7px 0 0 0;
}

.product .product-text {
    margin: 7px 0 0 0;
    color: #777;
}

.product .price {
    font-family: Century gothic;
    font-size: 16px;
    font-weight: 700;
}

.product .genre {
    font-size: 14px;
}


@media screen and (max-width:1150px) {
    .product {
        width: calc(33% - 23px);
    }
}

@media screen and (max-width:700px) {
    .product {
        width: calc(50% - 43px);
    }
}

@media screen and (max-width:400px) {
    .product {
        width: 100%;
    }
}

/* TABLE VIEW */

@media screen and (min-width:401px) {
    .settings {
        display: block;
    }
    #view {
        display: inline;
    }
    .products-table .product {
        display: block;
        width: auto;
        margin: 10px 10px 30px 10px;
        border: 2px solid black;
        background: white;
    }

    .products-table .product-content {
        text-align: left;
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
        width: calc(100% - 145px);
        
    }
    .products-table .product h3 {
        margin: 0;
    }
    .products-table a{
        color: white;
        text-align: center;
        padding: 5px;
        margin-left: 11px;
        
        background: black;
        text-decoration: none;
    }
}